* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Intro page */

h1 {
  font-family: "Square Peg", cursive;
  text-align: center;
  font-size: 4rem;
  color: #908660;
  padding: 20px 0;
}

.title {
  position: relative;
}

#paw {
  width: 40px;
  left: 65%;
  top: 5%;
}

.dogs-intro p {
  display: none;
  margin: 0 auto;
  width: 80%;
}

.fact-file {
  width: 80%;
  background: #9b937452;
  margin: 2rem auto;
  padding: 2rem 0;
  text-align: center;
}

.collapsible-group {
  margin: auto;
}

.button {
  font-family: "Square Peg", cursive;
  font-size: 2.5rem;
  padding: 0.2rem 1rem;
  color: white;
  border: 0px;
  border-radius: 4px;
  background-color: #f4cca6;
}

.button:hover {
  background-color: #daa38b;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  padding: 2rem 0;
  text-align: left;
  line-break: 1rem;
}

#lets-play {
  text-align: center;
}

/* Main Game Page start */

.score-board {
  margin: 2rem auto;
  border: 0.2rem solid #9b937452;
  border-radius: 0.5rem;
  text-align: center;
  width: 12rem;
  background: white;
  color: #908660;
  font-size: 3rem;
  padding: 1rem 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  position: sticky;
  top: 0;
}

.badge {
  background: #f4cca6;
  color: #908660;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -35px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -40px;
}

.result {
  margin: auto;
  text-align: centre;
  font-size: 40px;
  background: #f4cca6;
  position: sticky;
  top: 7.5rem;
}

.result p {
  color: white;
  text-align: center;
  font-family: "Square Peg", cursive;
  padding: 5px;
  border: none;
}

/* Dog head selectors start */
.green-glow {
  border: 4px solid green;
  box-shadow: 0 0 10px rgb(1, 63, 1);
}

.red-glow {
  border: 4px solid red;
  box-shadow: 0 0 10px rgb(129, 0, 0);
}

.gray-glow {
  border: 4px solid gray;
  box-shadow: 0 0 10px rgb(56, 54, 54);
}

.choices {
  margin: 20px auto;
  width: 200px;
  text-align: center;
  padding: 0px 10px;
}
.choice {
  margin: 20px auto;
  background: #9b937452;
  border: 4px solid #908660;
  border-radius: 50%;
}

.choice:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  background: #908660;
}

img {
  width: 150px;
}

#f {
  padding: 25px 5px;
}

#o {
  padding: 30px 15px;
}

#w {
  padding: 2px 2px;
}

.green-glow {
  border: 4px solid green;
  box-shadow: 0 0 10px rgb(1, 63, 1);
}

.red-glow {
  border: 4px solid red;
  box-shadow: 0 0 10px rgb(129, 0, 0);
}

.gray-glow {
  border: 4px solid gray;
  box-shadow: 0 0 10px rgb(56, 54, 54);
}

/* Dog head selectors end */

#action-message {
  text-align: center;
  color: #4d4b30;
  background: white;
  font-family: "Square Peg", cursive;
  font-weight: bold;
  font-size: 2rem;
  margin: 5px 0;
  padding: 2px;
  position: sticky;
  top: 12rem;
}

/* Footer */

footer p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: #908660;
}

/* media queries */

@media screen and (min-width: 40em) {
}

@media screen and (min-width: 64em) {
  .dogs-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }

  .choices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }

  .choice {
    margin: 10px;
  }

  #olive-info,
  #fred-info {
    padding-top: 80px;
  }

  #toggle-olive {
    margin-top: 15px;
  }

  img #Æ’,
  #o,
  #w {
    width: 200px auto;
  }

  #f {
    padding: 55px 45px;
  }

  #o {
    padding: 55px 45px;
  }

  #w {
    padding: 30px 45px;
  }
}
